<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="intro">
        <p><span id="header">dump</span>Mind</p>
        <h1>Welcome to <span id="mind">mind</span> dump</h1>
        <h2>
          A place where you can share your thoughts and worries. Posts can be
          private or public.
        </h2>
      </div>
      <div class="login">
        <h2>Login</h2>
        <button>
          <img src="./assets/google-nooutline.svg" alt="Google sign-in" />
          <a href="/auth/google">Sign in with Google</a>
        </button>
      </div>
    </div>
    <p id="messages">
      <a href="#"
        >View the public messages <i class="fa-solid fa-envelope"></i> >></a
      >
    </p>
  </body>
  <script
    src="https://kit.fontawesome.com/bda6fc51fa.js"
    crossorigin="anonymous"
  ></script>
</html>
