<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./secrets.css" />
    <title>Thoughts</title>
  </head>
  <body>
    <div class="container">
      <img src="../public/assets/anya.png" alt="profile pic" />
      <p>Welcome, Adithya</p>
      <h1>What's on your mind?</h1>
      <form action="/submit" method="post">
        <textarea
          placeholder="Share your thoughts"
          name="thought"
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
