@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background: #000;
  color: #fff;
}

body {
  padding-top: 100px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centre;
  position: relative;
  top: -30px;
}

textarea {
  background: #000;
  color: #fff;
  margin-top: 30px;
  padding: 10px;
  height: 85px;
  width: 343px;
  font-family: "Comic Neue", cursive;
  font-size: 21px;
}

.container > img {
  width: 96px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.container > p {
  font-size: 19px;
  margin-top: 10px;
}

#submit {
  margin-left: auto;
  width: 76px;
  height: 32px;
  margin-top: 10px;
  border-radius: 20px;
  display: block;
  font-weight: bold;
  text-align: center;
  outline: 0;
  border: 0;
  cursor: pointer;
}

#title {
  font-size: 25px;
}

.message-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 200px;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.thoughts {
  margin-top: 25px;
  margin-bottom: 10px;
}

.messages {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #36454f;
  width: 28vw;
  max-width: 28vw;
  min-height: fit-content;
  border-radius: 10px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header > img {
  width: 39px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.message {
  padding-top: 10px;
}

.submit-box {
  display: flex;
  justify-content: space-between;
}

#message-user {
  font-size: 20px;
}

/* css for rounded slider */
.switch {
  margin-top: auto;
  display: flex;
  position: relative;
}

.switch p {
  padding-left: 40px;
}

.switch label {
  width: 50px;
  height: 23px;
  background-color: #999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.switch input[type="checkbox"] {
  visibility: hidden;
}

.switch label:after {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50px;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 100ms;
  background-color: white;
}

.switch .look:checked + label:after {
  left: 32px;
}

.switch .look:checked + label {
  background-color: #2196f3;
}
