@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: 0;
}

html {
  background: #000;
}

#header {
  font-style: italic;
}

#mind {
  font-style: italic;
}

.container {
  display: flex;
  height: 89vh;
  max-width: 100%;
  padding: 0;
}

.intro {
  padding-left: 50px;
  width: 60vw;
  height: 100%;
  display: flex;
  align-items: centre;
  justify-content: center;
  flex-direction: column;
  background: #000;
  color: #fff;
}

.intro p {
  position: relative;
  top: -200px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.login a {
  text-decoration: none;
  font-weight: 300;
  text-align: center;
}

.login button {
  display: flex;
  width: 227px;
  height: 45px;
  border-radius: 30px;
  margin-top: 10px;
}

.login a {
  margin-left: 11px;
  margin-top: 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.login a:hover {
  text-decoration: none;
  color: #000;
}

#messages {
  color: #fff;
  background-color: #000;
  text-align: center;
}

#messages a {
  text-decoration: none;
  color: #fff;
}

#messages a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .intro {
    padding-left: 15px;
  }
  .login button {
    width: 200px;
  }
  .login {
    padding-right: 25px;
  }
  #messages {
    padding-bottom: 50px;
  }
  .container {
    height: 85vh;
  }
}
